{% extends 'main/layout.html' %}

{% block title %}
    <title>Каталог</title>
{%endblock%}

{% block top_label %}
Каталог
{%endblock%}

{% block main_info %}
        {% if catalog %}
            {% for product in catalog %}
                <div class='product'>
                    <div style='height: 180px;'>
                        <div class='product_img'>
                            <img src="media/{{ product.product_img }}" alt="product_img">
                        </div>
                        <div class='product_name'>
                            <h4>{{ product.product_name }}</h4>
                        </div>
                    </div>

                    <div class='product_desc'>
                        <h6>{{ product.product_desc }}</h6>
                    </div>
                    
                </div>
            {% endfor %}
        {% endif %}
{%endblock%}