{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" href="{% static 'main/css/bootstrap_css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/aside.css' %}">
    <script src="https://kit.fontawesome.com/31d0808a84.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    
    
    {% block title %}{%endblock%}
</head>
<body>
    <aside>
        <img src="{% static 'main/img/logo.png' %}" alt="site logo">
        <span class='logo'>Bungaa Shop</span>
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fa-solid fa-house"></i> Главная</li></a>
            <a href="{% url 'catalog' %}"><li><i class="fa-solid fa-list"></i> Каталог</li></a>
            <a href="{% url 'categories' %}"><li><i class="fa-solid fa-list"></i> Категории продуктов</li></a>
            <a href="{% url 'list_entry' %}"><li><i class="fa-brands fa-microblog"></i> Блог</li></a>
            {% if user.is_authenticated %}
            <a href="{% url 'email_distribution' %}"><li><i class="fa-brands fa-microblog"></i> Меню рассылок</li></a>
            {% endif %}
            {% if user|has_group:"Менеджер" or user.is_superuser %}
            <a href="{% url 'manager_menu' %}"><li><i class="fa-brands fa-microblog"></i> Меню менеджера</li></a>
            {% endif %}
            <a href="{% url 'contacts' %}"><li><i class="fa-solid fa-address-book"></i> Контакты</li></a>
            <a href="{% url 'test_http_response' %}"><li><i class="fa-solid fa-flask-vial"></i> Test HttpResponse</li></a>
            <a href="{% url 'test_include' %}"><li><i class="fa-solid fa-flask-vial"></i> Test { %include% }</li></a>
        </ul>
        {% if user.is_authenticated %}
        <a class="btn btn-warning" href="{% url 'add_product' %}" role="button">Добавить продукт</a>
        {% endif %}
        <div style='position: absolute; bottom: 0; left: 0; height: 60px; width:100%; background-color: #e7d003; border-right: 2px solid black; padding: 2px'>
            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}">
                <div class='row'>
                    <div class='col'>
                        {% if user.avatar %}
                        <img src="{% mediapath user.avatar %}" style='height: 55px; width: auto;' >
                        {% else %}
                        <img src="{% static 'main/img/no_avatar_user.png' %}" style='height: 55px; width: auto;' >
                        {% endif %}
                        <p style='font-size:20px; margin-left: 65px; margin-top: 5px; color: black;'>{{ user.email }}</p>
                    </div>
                </div>
            </a>
            {% else %}
            <a href="{% url 'login' %}">
                <div class='row'>
                    <div class='col'>
                        <img src="{% static 'main/img/anonymous.png' %}" style='height: 55px; width: auto;' >
                        <p style='font-size:30px; margin-left: 65px; margin-top: 5px; color: black;'>Войти в аккаунт</p>
                    </div>
                </div>
            </a>
            {% endif %}
        </div>
    </aside>
    <main>
        <div class='top_label'>
            <h1 class='page_name'>{% block top_label %}{%endblock%}</h1>
        </div>
        <div class='main_info'>
            {% block main_info %}
            {% endblock %}
        </div>
        
    </main>
    <script src="{% static 'main/js/bootstrap_js/bootstrap.min.js' %}"></script>
</body>
</html>