{% extends 'main/layout.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}
    <title>{{ type }} продукт</title>
{%endblock%}

{% block top_label %}
{{ type }} продукт
{%endblock%}

{% block main_info %}
{% if user.is_authenticated %}
        <form method='post' enctype="multipart/form-data">
            {% csrf_token %}
            <div class='row'>
                <div class='col'>
                    <div class='card' style='background-color: #1d1d1d; padding: 13px; margin: 7px; color: white; border: 2px solid #ffd900'>
                        {{ form.as_p }}
                        {{ result|safe }}
                        <button type="submit" class="btn btn-warning">{{ type }} продукт</button>
                    </div>
                </div>
                {% if formset.forms %}
                <div class='col'>
                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                        <div class='card' style='background-color: #1d1d1d; padding: 13px; margin: 7px; color: white; border: 2px solid #ffd900'>
                            {{ form.as_p }}
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
                
            </div>
        </form>
{% else %}
<<p>У вас недостаточно прав.</p>
{% endif %}
{%endblock%}