{% extends 'main/layout.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}
    <title>Категории продуктов</title>
    <link rel="stylesheet" href="{% static 'main/catalog.css' %}">
{%endblock%}

{% block top_label %}
Категории продуктов
{%endblock%}

{% block main_info %}
        {% if categories %}
            <div class='row'>
            {% for category in page_obj %}
                <div class='product'>
                    <div style='height: 180px;'>
                        <a href="{% url 'catalog' %}?category_name={{ category.category_name }}" style='color: white'>
                            {% if category.category_img %}
                            <div class='product_img'>
                                <img src="{% mediapath category.category_img %}" alt="product_img">
                            </div>
                            {% endif %}
                            <div class='product_name'>
                                <h4>{{ category.category_name }}</h4>
                            </div>
                        </a>
                    </div>

                    <div class='product_desc'>
                        <h6>{{ category.category_desc|truncatechars:100 }}</h6>
                        <a class="btn btn-warning" href="{% url 'catalog' %}?category_name={{ category.category_name }}" role="button">Список продуктов</a>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div style='margin-top: 10px;'>
                {% for page_button in paginator.page_range %}
                    {% if page_obj.number == page_button %}
                        <a class='btn' style='background-color: #d1b200; color: black; border-radius: 7px; margin-left: 2px; margin-right: 2px;' href="?{% custom_page_href page_button %}" role='button'>{{ page_button }}</a>
                        <!-- <a class='btn' style='background-color: #ffd900; color: black; border-radius: 7px; margin-left: 2px; margin-right: 2px;' href="?page={{ page_button }}" role='button'>{{ page_button }}</a> -->
                    {% elif page_button >= page_obj.number|add:-2 and page_button <= page_obj.number|add:2  %}
                        <a class='btn' style='background-color: #d1b200; color: black; border-radius: 7px; margin-left: 2px; margin-right: 2px;' href="?{% custom_page_href page_button %}" role='button'>{{ page_button }}</a>
                        <!-- <a class='btn' style='background-color: #d1b200; color: black; border-radius: 7px; margin-left: 2px; margin-right: 2px;' href="?page={{ page_button }}" role='button'>{{ page_button }}</a> -->
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
{%endblock%}