{% extends 'main/layout.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}
    <title>{{ product.product_name }}</title>
    <link rel="stylesheet" href="{% static 'main/catalog.css' %}">
{%endblock%}

{% block top_label %}
{{ product.product_name }}
{%endblock%}

{% block main_info %}
    {% if product.product_img %}
        <div style='height: 300px; weight: 300px'>
            <img src="{% get_media_prefix %}{{ product.product_img }}" alt="product_img" style='float: left; object-fit: contain; max-width: 100%; max-height: 100%;'>
        </div>
    {% endif %}

    <div class='product_desc'>
        <div class='card' style='background-color: #1d1d1d; padding: 13px; margin: 7px; color: white; border: 2px solid #ffd900'>
            <h5>Описание: {{ product.product_desc }}</h5>
            <hr>
            <h6>Версия продукта: {{ version.product_version }}</h6>
            <h6>Название версии: {{ version.version_name }}</h6>
            <hr>
            <h5>Цена: {{ product.unit_price }} руб.</h5>
            <h5>Дата создания: {{ product.date_created }}</h5>
            <h5>Дата последнего изменения: {{ product.date_last_modified }}</h5><br>
            <div class='col-6'>
                <a class="btn btn-warning" href="{% url 'catalog' %}product/{{ product.id }}/update" role="button">Изменить</a>
            </div>
        </div>
    </div>
{%endblock%}